* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  color: white;
  background: rgb(119,237,59);
  background: radial-gradient(circle, rgba(119,237,59,1) 12%, rgba(252,70,107,0.9987324434168199) 97%);
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0px;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  box-shadow: 5px 5px 15px 5px #1b1b32;
  justify-content: center;
}

.tareas-lista-principal:hover {
  box-shadow: 0px 0px 5px 0px #1b1b32;
}